<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Github</h4>
                <p class="lead mb-0">
                    taehyun-learn/webeda
                </p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Author</h4>
                <p class="lead mb-0">
                    Kim Tae Hyun
                </p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Kaggle</h4>
                <p class="lead mb-0">
                    house-prices-advanced-regression-techniques
                </p>
            </div>
            
        </div>
    </div>
</footer>