{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- Masthead Heading-->
        <img class="img-fluid mb-5" src="{% static 'main/assets/img/housesbanner.png' %}" alt="..." />
        <h1 class="masthead-heading text-uppercase mb-0">HOUSE PRICE</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-md-6 col-lg-5 me-lg-3">
                <a class="btn btn-xl btn-outline-light" href="https://github.com/taehyun-learn/webeda">
                    <i class="fab fa-github"></i><br />
                    Github
                </a>
            </div>
            <div class="col-md-6 col-lg-5 ms-lg-3">
                <a class="btn btn-xl btn-outline-light" href="https://www.kaggle.com/c/house-prices-advanced-regression-techniques">
                    <i class="fas fa-download me-2"></i><br />
                    Kaggle
                </a>
            </div>
        </div>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <h2 class="fs-3 text-secondary mb-4 text-white">아이오좌 주 에임스에 있는 주거용 주택에 대한 데이터</h2>
        <img class="img-fluid mb-5" src="{% static 'main/assets/img/housesbanner.png' %}" alt="..." />
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="eda">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">EDA Project</h2>
        <!-- Icon Divider-->
        <div class="divider-custom mb-5">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        
        <div class="col-md-8">
            <h2 class="fs-3 text-secondary mb-0">House Price</h2>       
            <iframe src="{% static 'main/price_histogram.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
        </div>
        <div class="col-md-8">
            <h2 class="fs-3 text-secondary mb-0">1. 대지 면적</h2>
            <iframe src="{% static 'main/lotarea_scatter.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        대지면적을 나타내는 column인 "LotArea"를 기준으로 그래프를 그림
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        데이터가 대부분 20000이하의 값을 갖아 전체적으로 판단이 안됨
                    </p></div>
                </li>
            </ul>   
            <iframe src="{% static 'main/lotarea_scatter_less_then_20000.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        대지면적이 20000보다 작은 데이터를 기준으로 확인
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        대지면적이 주택 가격에 어느 정도는 영향을 미치고 있지만 큰 영향은 안 줄 것으로 생각됨.
                    </p></div>
                </li>
            </ul>  
        </div>
        <div class="col-md-8">
            <h2 class="fs-3 text-secondary mb-0">2. 주택 크기</h2>       
            <iframe src="{% static 'main/GrLivArea_scatter.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        주택 크기를 나타내는 column인 "GrLivArea"를 기준으로 그래프를 그림
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        주택 크기가 대지면적보다 주택 가격에 더 많은 영향을 줄 것으로 생각됨.
                    </p></div>
                </li>
            </ul>
            <iframe src="{% static 'main/total_scatter.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        위 대지면적과 주택 크기에 대한 분석을 비교했을때 전체적인 범위보다 그 안에 있는 주택과 같은 아이템의 크기가 더 큰 영향을 줄 것이라 생각해볼 수 있음.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        대지 안에 있는 주택, 지하, 차고, WoodDeck, 현관, 수영장의 넓이의 합을 "totalArea"라는 column으로 추가함.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        위 결과를 보면, "totalArea"가 주택 가격에 매우 큰 영향을 줄 것이라 생각됨.
                    </p></div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2 class="fs-3 text-secondary mb-0">3. 외내부마감재 품질</h2>       
            <iframe src="{% static 'main/overallqual_box.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        전체적인 마감재 품질을 나타내는 column인 "OverallQual"를 기준으로 그래프를 그림
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        전체적인 마감재 품질이 주택 가격에 영향을 줄 것이라 생각됨.
                    </p></div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2 class="fs-3 text-secondary mb-0">4. 위치</h2>       
            <iframe src="{% static 'main/street_box.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        안타깝게도 해당 데이터는 한 지역을 기준으로 제작된 데이터라서 지역에 따른 데이터가 없음
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        그나마 위치에 관련된 column인 "Street":도로 접근 유형이 포장도로인지 비포장도로인지에 대한 column을 기준으로 그래프를 그림
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        비포장도로가 포장도로보다 무조건 싸지는 않고 대체로 비포장도로로 도로에 접근하는 집이 싼 가격대를 형성함.
                    </p></div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="result">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Result</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="col-md-8">
            <h2 class="fs-3 text-secondary mb-3 text-white">Correlation</h2>       
            <iframe src="{% static 'main/corr.html' %}" width="1250" height="700" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe></p>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        SalePrice과의 Correlation이 높은 Column을 추출한 후, 해당 Column들간의 Correlation을 나타냄.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        주거지, 차고, 지하 등의 전체면적이 집값에 가장 큰 영향을 미치고, 마감재품질이 그 다음으로 영향을 미침을 확인할 수 있음.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        나머지 Column들의 경우 차고의 크기, 지하 크기, 1층 크기, 화장실 수, 방 수와 같이 대체로 "totalArea"와 연관이 큰 항목임을 알 수 있음.
                    </p></div>
                </li>
            </ul>
            <h2 class="fs-3 text-secondary mb-3 text-white">결과</h2>
            <ul>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        사전에 예측한대로 집값에는 주택 크기, 마감재 품질, 대지 크기가 영향을 미침을 알 수 있음.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        주택 크기의 경우 단순히 주거지만이 아닌 전체적인 대지 안의 차고, 지하 등의 면적을 포함한 면적이 집값에 더 큰 영향을 미침.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        해당 데이터를 기준으로 집값을 예측할때 전체적인 면적과 마감재 품질만으로도 어느정도 집값 예측이 가능할 것이라 생각됨.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        위치에 대해 정확한 확인은 해당 데이터로 판단 불가.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        해당 데이터가 한 지역을 기준으로 작성된 데이터이기에 상식적으로 집값의 경우 지역의 영향을 많이 받아 더 넓은 범위의 집값 예측을 위해서는 지역 정보를 포함한 데이터를 활용해야함.
                    </p></div>
                </li>
                <li>
                    <div class="col-lg-auto mb-5"><p class="lead">
                        혹은 단순한 정확도를 위해 해당 데이터처럼 원하는 지역의 데이터를 별도로 다량 취득한 후 분석해서 예측할 수도 있음.
                    </p></div>
                </li>
            </ul>
        </div>
        <h2 class="page-section-heading text-center text-uppercase text-white">봐주셔서 감사합니다.</h2>
    </div>
</section>
{% endblock %}